{% extends 'base.html' %}
{%load static%}

{%block content%}
    <div class="container p-0">
		<h1 class="h3 mb-3">Logged in as {{request.user.username}}</h1>
			<h4> <a class='btn btn-danger' href="{%url 'logout'%}">Logout</a></h4>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">
					<form method="GET">
					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" name='search_query' placeholder="Search...">
							</div>
						</div>
					</div>
				</form>

				{%if users%}
				{%for user in users%}
				<a href="{% url 'chat' user.id %}" class="list-group-item list-group-item-action border-0">
					<div class="badge bg-success float-right"></div>
					<div class="d-flex align-items-start">
						<img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
						<div class="flex-grow-1 ml-3">
							{{ user.username }} 
						</div>
					</div>
				</a>
				{%endfor%}
				{%elif messagers%}
					{% for messager in messagers %}
					<a href="{% url 'chat' messager.id %}" class="list-group-item list-group-item-action border-0">
						<div class="badge bg-success float-right"></div>
						<div class="d-flex align-items-start">
							<img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								{{ messager.username }} 
							</div>
						</div>
					</a>
					{% endfor %}
					{%endif%}
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>{{ recipient.username }}</strong>
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div id='chatBox' class="chat-messages p-4">
							{% for nmessage in nmessages %}
							{% if nmessage.sender == user %}
							<div class="chat-message-right pb-4">
							{% elif nmessage.sender == recipient %}
							<div class="chat-message-left pb-4">
								{%endif%}
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">{{ nmessage.created }}</div>
								</div>
								{% if nmessage.sender == user %}
								<div  class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div  class="font-weight-bold mb-1">You</div>
									{{ nmessage.body }}
								</div>
							</div>
							{% elif nmessage.sender == recipient %}
							<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
								<div class="font-weight-bold mb-1">{{ nmessage.sender.username }}</div>
								{{ nmessage.body }}
							</div>
						</div>
						{% endif %}
							{% endfor %}
							
						</div>
					</div>
<form id="myform" method='POST'>
					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							
								{% csrf_token %}
							<input type="text" id="msg" class="form-control" name='body' placeholder="Type your message">
							<button type='submit' id="send-msg" class="btn btn-primary">Send</button>
							
						</div>
					</div>
</form>
				</div>
			</div>
		</div>
	</div>
</main>
<script type='text/javascript'>

	var myform = document.getElementById('myform');
	var btn  = document.getElementById('send-msg');
	var chatBox = document.getElementById('chatBox');
	var myformData;
	var myformProps;
	var date = Date();
	var ampm = date.slice(16,18) > 12 ? 'pm' : 'am'; 
	var hhmmss = date.slice(0,24)+' '+ampm;

	

	myform.addEventListener('submit', (e) => {
		e.preventDefault();
		myformData = new FormData(e.target);
  		myformProps = Object.fromEntries(myformData);
		chatBox.innerHTML += `
		<div class="chat-message-right pb-4">
		<div>
			<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
			<div class="text-muted small text-nowrap mt-2">${hhmmss}</div>
		</div>
		<div  class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
			<div  class="font-weight-bold mb-1">You</div>
			${myformProps.body}
		</div></div>
		`
		let input = document.getElementById('msg')
		input.value = "";

		var data = new FormData();
		data.append('body', myformProps.body);
		data.append('csrfmiddlewaretoken', myformProps.csrfmiddlewaretoken);
		  
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '', true);
		xhr.onload = (e) => {
			console.log(e);
		};
		xhr.send(data);
		
	})
		
		
	
	
</script>
{%endblock%}